header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5%;
  background-color: rgb(58, 58, 56);
}

.header_left a {
  color: rgb(224, 221, 221);
}

.header_ul {
  display: flex;
}

.header_ul li {
  margin-left: 15px;
}

.header_btn {
  display: block;
  padding: 5px 10px;
  background-color: rgb(124, 127, 134);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.header_btn:hover {
  opacity: 0.8;
}
